<h1>TV Shows</h1>

<% @shows.each do |show| %>
<li>
  <%= show.title %>
  <form action="/tv-show-list/<%= show.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form>
  <form action="/tv-show-list/<%= show.id %>/edit" method="get">
    <input type="submit" value="Edit">
  </form>
</li>
<% end %>

<br>

<a href='tv-show-list/new'>Add TV Show</a>
